.header{
    background-color: $azul;
    height:10vh;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding-left:25px;
    padding-right:25px;
}

.nav{
    width:40%;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    a{
        color: $blanco;
        transition: color 1s ease;
        height: 25px;
        transition: border-bottom 0.2s ease;
        box-sizing: border-box;
        &:hover{
            color:$naranja;
            border-bottom: 2px solid $naranja;
            transition: color 1s ease;
            transition: border-bottom 0.2s ease;
        }
    
    }
}

.wrapper{
    visibility: hidden;
    height:0;
    transition: height 0.5s ease;
}


.shown{
    visibility: visible;
    height: 150px;
    transition: height 0.5s ease;
}

@include tablet {

    .nav{
        align-items: center;
        flex-direction: column;
        position: absolute;
        top: 10vh;
        right:0;
        background-color:$azul; 
        width: 30%;
    }
    .wrapper{
        z-index:1;

        a{
            text-align:center;
        }
    }

}

@include phone {
    .nav{
        align-items: center;
        flex-direction: column;
        position: absolute;
        top: 10vh;
        right:0;
        background-color:$azul; 
        width:100%;
    }
    .wrapper{
        z-index:1;
        a{
            text-align:center;
        }
    }
    .header{
        justify-content: space-between;
    }

}

@include desktop{
    .wrapper{
        visibility: visible !important; 
        height:100%;
    }
    .header button{
        display:none;
    }
}